@charset "utf-8";

/* 
  @名称: reset.css
  @功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html,body{
  color:#000;
  background:#d8d8d8;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
*,body{
	font-family: Microsoft YaHei;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) http://code.google.com/p/html5shiv/ */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio[controls], canvas, video {
  display: inline-block;*display: inline; *zoom: 1;
}

/*
* 防止现代浏览器显示没有controls的audio
* 删除iOS5设备超出高度
*/
audio:not([controls]) {
  display: none;height: 0;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
  font:12px/1.5  Microsoft YaHei, Tahoma, Arial,  sans-serif;
}
input,select,textarea{
  font-size:100%;
}

/*移除锚点外框*/
a, a:active, a:hover, a:focus {outline: 0 none;}

/*移除文本修饰样式*/
a,a:link,a:hover,a:visited {text-decoration: none;}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
  border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
  text-align:inherit;
  text-align:left;
}

/* 去除默认边框 */
fieldset,img{
  border:0;
}

img {
  -ms-interpolation-mode: bicubic; /* 解决IE7图片拉伸模糊bug */
  vertical-align: middle;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
  display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
  border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
  text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
  font-style:normal;
  font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
  list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption {
  text-align:left;
}

/* 重设标题 */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;/*优化文字可读性*/
}

h1 {
  font-size: 30px;
  line-height: 36px;
}

h1 small {
  font-size: 18px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
}

h2 small {
  font-size: 18px;
}

h3 {
  font-size: 18px;
  line-height: 27px;
}

h3 small {
  font-size: 14px;
}

h4, h5, h6 {
  line-height: 18px;
}

h4 {
  font-size: 14px;
}

h4 small {
  font-size: 12px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 11px;
}

q:before,q:after {
  content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}


/* 默认不显示下划线，保持页面简洁 */
ins {
  text-decoration:none;
}

/* 清理浮动 */

.fn-clear:before,
.fn-clear:after {
   content:" ";
   display: block;
   font-size:0;
   height: 0;
   visibility: hidden;
}
.fn-clear:after {
  clear:both;
}
.fn-clear {
  zoom:1; /* for IE6 IE7 */
}
* html .fn-clear { 
  zoom: 1; /* IE6 */
} 
*:first-child+html .fn-clear { 
  zoom: 1; /* IE7 */
} 
/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
  display:none;
}
/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {
  display:inline;
}
.fn-left {
  float:left;
}
.fn-right {
  float:right;
}