@charset "utf-8";
/* CSS Document */
.tabBar {
	height: 22px;
	color: #FFFFFF;
	font-weight: bold; /*  line-height:26px;  height:26px;*/
	/* padding: 12px 41px; */
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center; /*  padding-left:10px; */
	width: 490px;
	border-top: 1px solid #ddd;
}

.tabBar a {
	display: block;
	width: 97px;
	height: 24px;
	float: left;
	text-align: center;
	line-height: 24px;
	color: #fff;
	background: #00aaf0;
}

.tabBar a.tabCurrent {
	background:#666 ;
	color: #fff;
}

.indexTabBar {
	width: 100%;
	height: 34px;
	background: url(../images/tabBarBg1.gif) repeat-x left top;
	font-weight: bold;
}

.indexTabBar a {
	display: block;
	width: 88px;
	height: 34px;
	float: left;
	text-align: center;
	line-height: 34px;
	border-left: 1px solid #9ea0a2;
	border-right: 1px solid #9ea0a2;
	color: #fff;
	background: url(../images/tab_index_normal.png) repeat-x left top;
}

.indexTabBar a.tabCurrent {
	background: url(../images/tab_index_focus.png) repeat-x left top;
	border-left: 1px solid #282828;
	border-right: 1px solid #282828;
	color: #4E4E4E;
}